@model AOM.FIPE.WebApp.Models.Brand.BrandResponseViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome you have succesfully signed in</h1>
    <a asp-controller="Account" asp-action="LogOut">Sign Out</a>
</div>
<p>
    Total Brands: @Model.Total    
</p>

<ul>
    @foreach (var brand in Model.Brands)
    {
        <li>@brand.Nome</li>
    }
</ul>
